@import '../Abstracts/Mixin';

.study-page-main {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;

    .study-pages-upper {
        width: 100%;
        height: 50vh;
        display: flex;
        background-color: #f4f4f4;
        padding-top: 2rem;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        .studyUpper-left {
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: bold;

            @include mobile {
                width: 100%;
                font-size: 2rem;
                height: fit-content;
                padding: 3rem 1rem;
            }

            .firsttitle {
                color: #fa8f00;
            }

            .secondtitle {
                color: rgb(79, 77, 77);
            }
        }

        .studyUpper-right {
            width: 40%;

            @include mobile {
                width: 100%;
                height: 100%;
            }

            .study-img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }
    }

    .study-pages-middle {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        cursor: pointer;
    }

    .study-pages-lower {
        // background-color: red;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        @include mobile {
            padding: 0.5rem;
        }

        .main-lower-part {
            width: 85%;
            background: rgb(51, 190, 217);
            background: linear-gradient(0deg, rgba(51, 190, 217, 1) 0%, rgba(56, 207, 195, 1) 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            border-radius: 30px;

            @include mobile{
                width: 100%;
            }


            .study-lower-inner-part {
                width: 98%;
                padding: 1rem 4rem;
                background-color: rgb(230, 229, 229);
                border-radius: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;

                @include mobile {
                    padding: 1rem 2rem;

                }

                // align-items:stretch;
                .study-lower-inner-part-content {
                    // background-color: white;
                    padding-top: 2rem;
                    text-align: justify;
                    font-weight: 600;

                    @include mobile {
                        font-size: 0.8rem;
                    }

                    .cont2-list-title{
                        font-weight: 700;
                        padding-top: 1rem;

                        @include mobile{
                            padding-top: 2rem;
                        }
                    }

                    .cont2-list-content{
                        // color: red;
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;
                        padding-left: 0.5rem;
                        text-align: justify;

                        @include mobile{
                            padding-top: 2rem;
                        }
                    }
                }
            }

        }
    }
}