@import '../Abstracts/Mixin';

.animated-gif-main {
    max-width: 100vw;
    // background-color: red;

    .animated-part {
        position: relative;
        overflow: hidden;
        height: 360px;
        width: 100%;

        img {
            position: absolute;
            top: 30%;
            left: 40%;
            height: 88px;
            z-index: 1;
        }

        .animated-background-img {
            background-image: url("https://images.leverageedu.com/homepage/footer-background.png");
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 300%;
            animation: webfooter_slideshow__d1IHp 10s linear infinite;
        }
    }
}
// }

@keyframes webfooter_slideshow__d1IHp {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }

}