@import '../Abstracts/Mixin';

.wp {
    position: fixed;
    // width:50px;
    bottom: 70px;
    // left:20px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    z-index: 3;
    // background-color: red;
    width: 100vw;

    @include mobile {
        right: 10px;
    }

}